# Microsoft Movie Studio

## Overview

For this project, I am using a combination of SQL queries and using Pandas to extract insights from movies historical data and present 3 recommenations for a new movie studio. With Exploratory Data Analysis I arrive at 3 conclusions that will guide the production team in making this new venture profitable by making films that have had the most success and popularity over the years.

## Business Problem

As a new movie studio, we need to decide what type of films to make in order to be successful.There are many different types of films that could be made, and it can be difficult to know which ones will be successful. We need to consider factors such as the current trends in the film industry, the target audience, and the budget.
In this project I will conduct market research to identify the types of films that are currently popular and that are likely to be successful in the future. By making films that are popular and that appeal to a wide audience, we can increase our chances of success. We can also build a reputation for making quality films, which will help us to attract top talent and secure funding for future projects.

## Data

To answer the business questions, we utilized various data sets including the IMBD Database and then selected the following that have relevant factors such as ratings and genres of past movies to guide our insights and recommendations.

In [6]:
import pandas as pd
import sqlite3
import matplotlib.pyplot as plt

In [9]:
#Loading in data from imdb file
conn = sqlite3.connect('Data/im.db')


sql_tables = """
SELECT name FROM sqlite_master WHERE type='table'
"""
pd.read_sql(sql_tables, conn)

            name
0   movie_basics
1      directors
2      known_for
3     movie_akas
4  movie_ratings
5        persons
6     principals
7        writers